<section id="about">
    <div class="container">
        <h2><strong>About</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right" >

                <picture>
                    <img src="assets/images/replaceProfileImg.jpg" alt="img" class="img-fluid">
                </picture>
               <div class="d-flex justify-content-center">
                    <a  class="btn-social-media" href="https://www.linkedin.com/in/casper-jacobs-975743194/" rel="tooltip" target="_blank"  title="Follow me on Linkedin">
                        <i  class="fa fa-linkedin fa-lg "></i>
                    </a>
                </div>
               
              
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>Full-stack web developer.</h3>
                <p class="font-italic">
                    My interests lie in Full-stack development. And I like <b>web development</b> in particular.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong> Bilzen, Belgium</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:casper.jacobs.cj@gmail.com">
                                        casper.jacobs.cj@gmail.com</a></strong>
                            </li>
                       
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> 22 jaar</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> Bachelor applied information technology </strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>