<section id="portfolio">
    <div class="container" >
        <h2><strong>Portfolio</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
        
            <div class="col-lg-4 col-sm-12 " data-aos="flip-up">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <div  class="card-header d-flex flex-column " style="height: 300px;width: 100%; "  >    
                        <div id="teamTraveler-img" class="img-wrap" style="height: 300px;width: 100%;  " [ngStyle]="{backgroundImage:'url(assets/images/aca.png)'}" >
                        </div>
                        <div id="teamTraveler-link" class="links mt-auto d-flex justify-content-center">
                            <a href="https://www.linkedin.com/company/aca-it-solutions/" class="venobox vbox-item" title="ACA-it LinkedIn"><i class="fa fa-linkedin fa-10x"></i></a>
                            <a href="https://www.aca-it.be/nl/" title="ACA-it" target="_BLANK"><i class="fa fa-link fa-10x"></i></a>
                        </div>
                    </div>

                    <div class="card-body">
                            <h3 class="card-title">ACA-IT</h3>
                            <h5 class="card-title"><strong>Technologies:</strong>  </h5>
                            <p class="card-text">AWS, Java</p>
                            <div class="d-flex flex-row justify-content-center">
                                <button (click)="detailOnClick('teamTraveler')" type="button" class="btn btn-primary">+ Details</button>
                            </div>
                            <div *ngIf="teamTravelerIsShown" class="mt-3">
                                <p>A seminare about Artificial inteligence and how you can use it. Small introduction into AWS technologie in combination with AI.</p>
                                <small>march 18 2020</small>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12"  data-aos="flip-up">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">

                    <div  class="card-header d-flex flex-column " style="height: 300px;width: 100%; "  >    
                        <div  id="mautic-img" class="img-wrap" style="height: 300px;width: 100%;  " [ngStyle]="{backgroundImage:'url(assets/images/axxess.png)'}" >

                        </div>
                        <div id="mautic-link" class="links mt-auto d-flex justify-content-center">
                            <a href="https://www.linkedin.com/company/axxes/" class="venobox vbox-item" title="Axxess LinkedIn"><i class="fa fa-linkedin fa-10x"></i></a>
                            <a href="https://axxes.com/" title="Axxess" target="_BLANK"><i class="fa fa-link fa-10x"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Axxess</h3>
                        <h5 class="card-title"><strong>Technologies:</strong>  </h5>
                        <p class="card-text">Docker</p>
                        <div class="d-flex flex-row justify-content-center">
                            <button (click)="detailOnClick('mauticMonitoring')"  type="button" class="btn btn-primary">+ Details</button>
                        </div>
                        <div *ngIf="mauticMonitoringIsShown" class="mt-3">
                            <p>Short introduction to Docker. Usage of Docker-compose.</p>
                            <p>Speaker: <a title="speaker" href="https://www.linkedin.com/in/jesse-verbruggen/?originalSubdomain=be" target="_blank">Jesse Verbruggen</a></p>
                            <small>november 25 2020</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12"  data-aos="flip-up">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded"> 
              
                    <div  class="header d-flex flex-column " style="height: 300px;width: 100%; "  >    
                        <div id="portfolio-img" class="img-wrap card-header" style="height: 300px;width: 100%;" [ngStyle]="{backgroundImage:'url(assets/images/sintOda.png)'}" >
                        </div>
                        <div id="portfolio-link" class="links d-flex justify-content-center" >
                            <a href="https://www.sintoda.be/nl_BE/" title="Sint-Oda" target="_BLANK"><i class="fa fa-link fa-10x"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Hackaton Sint-Oda</h3>
                        <h5 class="card-title"><strong>Technologies:</strong>  </h5>
                        <p class="card-text">JavaScript, Html and css</p>
                        
                        <div class="d-flex flex-row justify-content-center">
                            <a href="https://github.com/PXL-Smart-ICT/hackathon-sint-oda-oda8" target="_blank" type="button" class="btn btn-primary mr-3">Source code</a> 
                            <button (click)="detailOnClick('portfolio')"  type="button" class="btn btn-primary">+ Details</button>
                        </div>
                    
                        <div *ngIf="portfolioIsShown" class="mt-3">
                            <p>Development of a small game for mentaly disabled people.</p>
                            <p><a title="Sint-oda" href="https://www.sintoda.be/nl_BE/" target="_blank">Sint-Oda</a></p>
                            <p>Team: 
                                <a title="Diede" href="https://www.linkedin.com/in/diede-claessens-7a8a941a1/" target="_blank">Diede</a>, 
                                <a title="Lenne" href="https://www.linkedin.com/in/lenne-welkenhuysen-90a547197/" target="_blank">Lenne</a>, 
                                <a title="Pieter" href="https://www.linkedin.com/in/pietermaltezos/" target="_blank">Pieter</a> and 
                                <a title="Sasha" href="https://www.linkedin.com/in/sacha-kleynen-31298217b/" target="_blank">Sasha</a>
                            </p>
                            <p>Support: 
                                <a title="Arno" href="https://www.linkedin.com/in/arno-barzan-40b52415a/" target="_blank">Arno</a>, 
                                <a title="Steven" href="https://www.linkedin.com/in/steven-palmaers-5b62162/" target="_blank">Steven</a> and 
                                <a title="Erwin" href="https://www.linkedin.com/in/erwin-vanroye-56a36521/" target="_blank">Erwin</a>

                            </p>
                            <small>februari 23 and 24 2021</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12"  data-aos="flip-up">
                <div class="card shadow-lg p-3  bg-white rounded">
                    <div  class="card-header d-flex flex-column " style="height: 300px;width: 100%; "  >    
                        <div id="pokedex-img" class="img-wrap" style="height: 300px;width: 100%;  " [ngStyle]="{backgroundImage:'url(assets/images/logoDuikclub.png)'}" >

                        </div>
                        <div id="pokedex-link" class="links mt-auto d-flex justify-content-center">
                            <a href="https://www.facebook.com/DuikclubDolfijn" class="venobox vbox-item" title="Dolfin facebook"><i class="fa fa-facebook fa-10x"></i></a>
                        </div>
                    </div>
                   
                    <div class="card-body">
                        <h3 class="card-title">Website</h3>
                        <h5 class="card-title"><strong>Technologies:</strong> </h5>
                        <p class="card-text">PHP, Symfony, MySQL, BootStrap, Docker, Twig and Linux</p>
                        <div class="d-flex flex-row justify-content-center">
                            <a href="https://github.com/JacobsCasper/DuikclubDolfijn" target="_blank" type="button" class="btn btn-primary mr-3">Source code</a> 
                            <button (click)="detailOnClick('pokedex')" type="button" class="btn btn-primary">+ Details</button>
                        </div>
                        <div *ngIf="pokedexIsShown" class="mt-3">
                            <p>Spare time development of a website.</p>
                            <small>still ongoing</small>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>